<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A Unique Experience!">
    <link rel="icon" href="../images/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Contact - Amazing Events</title>
</head>

<body>
    <!-- NavBar -->
    <nav class="navbar navbar-expand-lg fixed-top px-4">
        <div class="container-fluid">
            <a class="navbar-brand" href="../../index.html"><img src="../images/amazing_brand.png"
                    alt="Amazing Events Brand" width="150"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarScroll">
                <ul class="navbar-nav mx-2 my-lg-0 navbar-nav-scroll fw-medium">
                    <li class="nav-item">
                        <a class="nav-link" href="../../index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./upcomingEvents.html">Upcoming Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./pastEvents.html">Past Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./stats.html">Stats</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#offcanvas" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">My Favorites</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main id="app">
        <!-- Carousel -->
        <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active bg-light"
                    aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" class="bg-light"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" class="bg-light"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../images/optional_banner_1.jpg" alt="Banner 1"
                        class="d-block w-100 h-100 carousel-image">
                    <div class="container">
                        <div class="carousel-caption text-center">
                            <h1 class="fw-bolder text-white">Contact Us</h1>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../images/optional_banner_2.jpg" alt="Banner 2"
                        class="d-block w-100 h-100 carousel-image">
                    <div class="container">
                        <div class="carousel-caption text-center">
                            <h1 class="fw-bolder text-white">Contact Us</h1>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../images/optional_banner_3.jpg" alt="Banner 3"
                        class="d-block w-100 h-100 carousel-image">
                    <div class="container">
                        <div class="carousel-caption text-center">
                            <h1 class="fw-bolder text-white">Contact Us</h1>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <!-- Form -->
        <div class="container-fluid p-5 align-content-center justify-content-center">
            <div class="mb-3">
                <label for="firstName" class="form-label">Name</label>
                <input type="text" class="form-control border-0" id="firstName" placeholder="Name..." value="" required>
                <div class="invalid-feedback">
                    Valid first name is required.
                </div>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email</label>
                <input type="email" class="form-control border-0" id="exampleFormControlInput1"
                    placeholder="name@example.com" required>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                <textarea class="form-control border-0" id="exampleFormControlTextarea1" rows="3"
                    placeholder="Enter your message..." required></textarea>
            </div>
            <div class="d-flex justify-content-end">
                <button class="btn btn-dark btn-sm align-content-end" type="submit">Submit</button>
            </div>
        </div>
        <!-- Toast -->
        <div class="offcanvas offcanvas-end " tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasRightLabel">My Favorites ⚡️</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body" v-if="arrayFav.length > 0">
                <div class="list-group" id="baseFavorites">
                    <a v-for="favorite of arrayFav" v-bind:href=`../pages/details.html?id=${favorite._id}`
                        class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                        <img v-bind:src="favorite.image" alt="twbs" width="32" height="32"
                            class="object-fit-cover rounded-circle flex-shrink-0">
                        <div class="d-flex gap-2 w-100 justify-content-between">
                            <div>
                                <h6 class="mb-0">{{ favorite.name }}</h6>
                                <p class="pt-3 mb-0 opacity-75">{{ favorite.description }}</p>
                            </div>
                            <small class="opacity-50 text-nowrap">{{ favorite.date }}</small>
                        </div>
                    </a>
                </div>
            </div>
            <div class="d-grid" v-if="arrayFav.length > 0">
                <button id="btnBody" type="button" class="btn btn-danger rounded-0" v-on:click="clickBtn"><i
                        class="bi bi-trash"></i> Remove all Favorite Events</button>
            </div>
            <div class="offcanvas-body h-100" v-else>
                You don't have any favorite events
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer class="footer mt-auto">
        <div class="d-flex flex-wrap justify-content-between align-items-center px-5 py-4">
            <ul class="nav col-md-4 justify-content-start list-unstyled d-flex fs-4">
                <li>
                    <a href="https://www.whatsapp.com/">
                        <i class="bi bi-whatsapp"></i>
                    </a>
                </li>
                <li class="ms-3">
                    <a href="https://www.facebook.com/">
                        <i class="bi bi-facebook"></i>
                    </a>
                </li>
                <li class="ms-3">
                    <a href="https://twitter.com/">
                        <i class="bi bi-twitter"></i>
                    </a>
                </li>
            </ul>
            <span class="mb-md-0 fw-semibold">Argentina Programa - DW 14</span>
        </div>
    </footer>

    <!-- Script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="../scripts/contact.js"></script>
</body>

</html>